.bottom-logo {
	width: 18%;
	float: left;
	font: 40px Vegur-Regular;
	letter-spacing: -2px;
	margin-top: 43px;
	margin-left: 10px;		
	padding: 20px 0px;
	padding-right: 51px;
	background: url(footer-sep.png) 0 100% no-repeat;
	background-position:right;
}
.rights
{
	width: 45%;
	float: left;
	font: 14px Arial;
	margin-top: 49px;
	margin-left: 18px;
	line-height: 2.5em;	
}
	.rights a,
	.rights a:hover 
	{
		color:rgb(42, 181, 186);
		text-decoration: none;
		border-bottom: 1px solid rgb(42, 181, 186);
	}
.social {
	width: 25%;
	float: left;
	font: 14px Arial;
} 
.social > p { 
	clear: left; 
	margin-left: 7px;
	margin-top: 93px;
}
	
.sprites
{
	float: left;
	margin-top: 51px;
	margin-left: 7px;
}
.sprites > a
{
	display:block;
	float: left;
	width:27px;
	height:26px;
	background:url("../pictures/sprites.png");	
	margin-right: 9px;
}
a.tw{
	background-position: 98px;	
}
a.dn{
	background-position: 67%;
}
a.yt{
	background-position: 100%;
	margin-left: -1px;
}