.header-titles {
	float: left;
	width: 32%;	
	font: 58px Vegur-Regular;
	letter-spacing: -4px;		
	margin-left: 6px;
	margin-top: 5px;
	font-weight: bold;
	/* text-shadow: 1px 3px 0 #E0E0E0; */
}
.header-menu {
	float: right;
	width: 66%;		
}	
.logo {
	display: block;
	width: 287px;		
	padding: 8% 5px;	
}
a.logo:link {
    text-decoration: none;
	color: black;	
   }    
a.logo:visited {
	color: black;
}
.cafe {
	color: rgb(42, 181, 186);	
}