body {
	font-family: arial, serif;
	background: white url("../pictures/reserv-bg.png") repeat;	
	margin: 0 auto;	
}
.header-wr,
.contact-wr,
.footer-wr
{
	min-width: 970px;
}
	.header,
	.contact,
	.footer
	{
		width: 960px;
		padding: 0 5px;
		margin: 0 auto;
	}
.header-wr {
	background: white url("../pictures/header-bg.png") repeat-x;	
}
	.header 	{
		height: 115px;			
	}
.contact-wr
{
	background: grey url("../pictures/bg.png");	
	height: 690px;	
}
	.contact {
		height: 690px;	
	}
.footer-wr {
		background: white url("../pictures/footer-bg.png") repeat-x;	
		height: 167px;
}