.contact-info {
	width: 320px;
	float: left;
	margin-top: 4px;
}
.invitation > p {	
	float: left;
	width: 45%;
	font: 37px Vegur-Regular;
	color: rgb(42, 181, 186);
	margin-left: 55px;	
	margin-top: 115px;
	margin-bottom: 20px;
	letter-spacing: -1px;	
	line-height: 0.9em;
}
.invitation > img {	
	float: right;		
	padding-top: 122px;	
	padding-right: 3px;
}
.tell { 	letter-spacing: -2px; }
	.about { color: black; }	
.news  {
	float: left;
	margin-left: 55px;
}
.news > h2 {
	margin-top: 30px;
	margin-bottom: 19px;
	font: 30px Vegur-Regular;
}
.news-style {
	font: 14px Arial;
}
	.news-single {
		margin-bottom: 15px;
	}
		.news-double {
			margin-bottom: 14px;
			line-height: 1.8em;
		}
			.news-triple {
				line-height: 1.8em;	
				letter-spacing: -0.0707em;	
				white-space:pre;
				margin-top: -15px;		
			}
				.news-triple a,
				.news-triple a:hover 
				{
					color:rgb(42, 181, 186);
					text-decoration: none;
					border-bottom: 1px solid rgb(42, 181, 186);
				}
					.news-four
					{
						margin-top: 30px;
						margin-bottom: 0px;
						line-height: 1.8em;	
					}